version: "3.8"
services:
  n8n:
    image: n8nio/n8n:latest
    env_file: .env
    environment:
      - N8N_EDITOR_BASE_URL=http://localhost:${N8N_PORT}
      - GENERIC_TIMEZONE=${TZ}
      - BACKEND_BASE_URL=${BACKEND_BASE_URL}
      - N8N_PAYLOAD_SIZE_MAX=32
    ports:
      - "${N8N_PORT}:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped
volumes:
  n8n_data:
